@import "tailwindcss";
@import './fonts/IranSans/IranSans.css';
@import "./node_modules/react-confirm-alert/src/react-confirm-alert.css";
*{
  font-family: 'IRANSans';
}
body{
  background-color: #222831;
}
:root {
   --toastify-font-family:'IRANSans' !important;
}