@import "tailwindcss";
@import "./fonts/vazir/Vazirmatn-font-face.css";
@import "./fonts/vazir/Vazirmatn-Variable-font-face.css";
@import "./node_modules/react-confirm-alert/src/react-confirm-alert.css";
*{
  font-family: 'Vazirmatn';
}
body{
  background-color: #222831;
}
:root {
   --toastify-font-family:'Vazirmatn' !important;
}